.as-body{
    position:absolute;
    height:65vh;
    width:30vw;
    right: 2rem;
    border-left: 1.5px solid #00A9CE;
    padding-left: 2rem;
}
.patient-search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2rem;
    padding-top: 10px;
}
.patient-search-bar input{
    height: 100%;
    width: 80%;
    min-width: 6rem;
    border-radius: 10px;
    border: 1px solid #41B6E6;
}
.patient-search-bar button{
    height: 100%;
    width: 4rem;
    border-radius: 10px;
    background-color: #003087;
    color: #E8EDEE;
    cursor: pointer;
}
.aside-patient-list{
    height: 85%;
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}
.patient-card{
    border: 1px solid #41B6E6;
    width: 95%;
    margin-top: 2px;
    cursor: pointer;
    transition:0.25s;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
}

.patient-card:hover{
    background-color: #41B6E6;
}